@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');


div,
section,
header,
footer {
    /* outline: 1px solid #ccc; */
}


/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* margin: 2.5%; */
    font-family: 'Ubuntu', sans-serif;
}


/* TYPOGRAPHY */
.main-heading {
    font-weight: 400;
    text-align: center;
}

.home-mark {
    color: lightskyblue;
}

.section__heading {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.15em;
}

.section__subheading {
    font-weight: 300;
    text-align: center;
}

.service__heading {
    font-weight: 700;
}

.service__description {
    font-weight: 300;
    line-height: 1.5;
}

.post__heading {
    font-weight: 500;
}

.post__subheading {
    font-weight: 400;
}

.page-footer--white {
    color: white;
}

.CEO-info__heading {
    font-weight: 500;
}

.CEO-info__description {
    font-weight: 300;
    font-style: italic;
}

/* LAYOUT */

@media screen and (min-width: 40em) {
    /* Medium and up */
}



.hero-area {
    background-color: #ebebeb;
}

.page-footer {
    background-color: #16242f;
}

.page-footer>.row:last-child {
    background-image: url('../img/theme/bg_page_footer.png');
    background-position: right bottom;
    background-repeat: no-repeat;

}

/* MODULES */





.mobile-menu {
    display: none;
}

.main-menu ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.main-menu li {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.main-menu a {
    text-decoration: none;
}

@media screen and (max-width: 39.9375em) {
    /* styles for small only */

    body {
        margin: 4% 5%;
    }

    .show {
        display:block !important;
    }

    .page-header {
        margin-bottom: 2.5em;
    }

    .main-menu ul{
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top:15px;
        right: 15px;
        width: 38px;
        height: 38px;
        background-color: #078ecc;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .icon-text {display: none;}

    .main-menu ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-area {
        display: none;
    }

    .home-intro {
        margin-bottom: 4em;
    }

    .services {
        margin-bottom: 4em;
    }

    .section__header {
        margin-bottom: 2.5em;
    }

    .service {
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        grid-column-gap: 1em;
        grid-template-rows: auto;
        grid-template-areas: 
        "img h3"
        "img p";

        margin-bottom: 2em;
    }

    .service img {
        grid-area: img;

        width: 100%;
        height: auto;
    }

    .service-heading {
        grid-area: h3;

        margin: 0 0 0.5em 0;
    }

    .service-description {
        grid-area: p;
        
        margin: 0;
    }

    .blog {
        margin-bottom: 4em;
    }

    .projects {
        margin-bottom: 4em;
    }


    .other-info,
    .clients,
    .about-us,
    .instagram,
    .newsletter {
        display: none;
    }
}


@media screen and (min-width: 40em) {
    /* styles for medium and onward */
    .main-menu li {
        padding: 2rem;
    }

    .main-menu i {
        display: block;
        text-align: center;
    }

    .icon-label {
        display: block;

    }
}


@media screen and (max-width: 39.9375em) {
    /* styles for small and medium*/
}


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
    .main-menu ul {
        flex-direction: row;
        justify-content: center;

    }

}


@media screen and (min-width: 64em) {
    /* styles for large and onward only */
}
