@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');


div,
section,
header,
footer {
    /* outline: 1px solid #ccc; */
}

/****************************************** 
                    BASE
******************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}


/****************************************** 
                TYPOGRAPHY
******************************************/
.main-heading {
    font-weight: 400;
    text-align: center;
}

.home-mark {
    color: lightskyblue;
}

.section__heading {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0.15em;
}

.section__subheading {
    font-weight: 300;
    text-align: center;
}

.service__heading {
    font-weight: 700;
}

.service__description {
    font-weight: 300;
    line-height: 1.5;
}

.accordion__heading {
    font-size: 1em;
    font-weight: 500;
    color: white;
}

.post__heading {
    font-size: 1.25em;
    font-weight: 400;
    color: white;

    float: left;
    margin-top: 0.7em;
}

.post__subheading {
    font-size: 0.85em;
    font-weight: 300;
    color: white;

    float: left;
    clear: left;
}

.time-box {
    font-size: 0.75em;
    font-weight: 400;
    color: white;
}

.day--big {
    font-size: 1.75em;
}

.page-footer--white {
    color: white;
}

.CEO-info__heading {
    font-size: 1em;
    font-weight: 500;
}

.CEO-info__description {
    font-size: 0.75em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.25;
}

.tweets__heading {
    font-size: 1em;
    font-weight: 500;

    display: inline-block;
    width: 65%;
    border-bottom: 1px solid rgb(255, 100, 100);
}

.tweet__message {
    font-size: 0.75em;
    font-weight: 300;
}

.tweet__user {
    font-weight: 700;
    color: #4fbbff;
}

.slider-info__heading {
    font-size: 1.25em;
    color: rgb(99, 98, 98);
    text-decoration: none;

    padding: 0.5em;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(228, 228, 228);
}


/****************************************** 
                   LAYOUT
******************************************/
.hero-area {
    display: flex;
    justify-content: center;
    
    width: 100%;

    /* background-color: lightcoral; */
    background-color: #ebebeb;
}

.page-footer {
    background-color: #16242f;
}

.page-footer>.row:last-child {
    background-image: url('../img/theme/bg_page_footer.png');
    background-position: right bottom;
    background-repeat: no-repeat;
}

/* .serices-header {
    grid-area: service-header;
} */

.services {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    
    margin-bottom: 4em;
}

.service {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    grid-column-gap: 1em;
    grid-template-rows: auto;
    grid-template-areas: 
    "icon service-h3"
    "icon service-p";
}

.service img {
    grid-area: icon;

    width: 100%;
    height: auto;
}

.service__heading {
    grid-area: service-h3;
    margin-bottom: 0.5em;
}

.service__description {
    grid-area: service-p;
    margin: 0;
}

.blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    margin-bottom: 2.5em;
}

.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;

    margin-bottom: 2.5em;
}

.CEO-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;

    margin-top: 1em;
    margin-bottom: 3em;
}

.tweet {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-gap: 1em;

    margin-bottom: 1em;
}


/****************************************** 
                  MODULES
******************************************/
.line__container {
    display: flex;

    width: 100%;
    height: 1px;

    margin-bottom: 2.5em;
}

.line--blue {
    flex: 1;
    border-bottom: 1px solid rgb(56, 187, 231);
}

.line--gray {
    flex: 2;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.line--blue-ft {
    flex: 0.75;
    border-bottom: 1px solid rgb(55, 128, 153);
}

.line--gray-ft {
    flex: 2;
    border-bottom: 1px solid rgb(49, 71, 78);
}

.home-intro {
    margin-bottom: 4em;
}

.section__header {
    margin-bottom: 1em;
}

.blog__entry,
.project {
    display: flex;
    flex-direction: column;

    position: relative;
}

.post {
    width: 100%;

    position: absolute;
    bottom: 0;
    z-index: 99;

    margin: 0 auto;
    padding: 0 5%;
    background-color: rgb(56, 187, 231);
}

.post__image {
    object-fit: cover;
}

.post__icon {
    float: right;
    position: relative;
    bottom: 20px;
}

.blog__entry {
    position: relative;
}

.time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75px;
    height: 60px;

    position: absolute;
    top: 0;
    left: 0;

    text-align: center;
    background-color: lightcoral;
}

.mobile-menu {
    display: none;
}

.main-menu ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.main-menu li {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}

.main-menu a {
    text-decoration: none;
}

.tweets__container {
    margin-bottom: 4em;
}

.color-tabs {
    display: flex;
    width: 100%;
    background-color: white;
}

.tab {
    flex: 1;
    height: 20px;
}

.tab--green {
    background-color: rgb(73, 216, 128);
}

.tab--yellow {
    background-color: rgb(252, 217, 18);
}

.tab--red {
    background-color: rgb(255, 96, 96);
}

.tab--blue {
    background-color: rgb(5, 142, 255);
}

.tab--dblue {
    background-color: rgb(0, 108, 196);
}

.border-left {
    border-left: 5px solid;
    border-bottom: none; 
}

.border-left--blue {
    border-left-color: rgb(5, 142, 255);
}

.border-left--red {
    border-left-color: rgb(255, 96, 96);
}

.border-left--yellow {
    border-left-color: rgb(252, 217, 18);
}

.CEO-info__heading {
    margin-bottom: 0.5em;
}

.CEO-info__image {
    width: 95%;
    height: auto;
    border-radius: 50%;
}

.social-nav__container {
    display: flex;
    margin-bottom: 2em;
}

.social-nav {
    width: 70%;
    margin: 0 auto;
}

.social-nav__icon {
    width: 18%;
    max-width: 18%;
    height: auto;
}

.tweets__heading {
    padding-bottom: 0.5em;
    margin-bottom: 1.25em;
}

.tweet__icon {
    border-radius: 50%;
}

.accordions__menu {
    width: 100%;

    padding: 1em;
    padding-left: 1.5em;
    background-color: rgb(56, 187, 231);
}

/****************************************** 
                MEDIA QUERIES
******************************************/

@media screen and (max-width: 39.9375em) {
    /* styles for small only */
    .wrapper {
        margin: 4% 5%;
    }

    .show {
        display:block !important;
    }

    .page-header {
        margin-bottom: 2.5em;
    }

    .main-menu ul{
        display: none;
    }

    .mobile-menu {
        display: block;
        position: absolute;
        top:15px;
        right: 15px;
        width: 38px;
        height: 38px;
        background-color: #078ecc;
        padding: 3px;
        border-radius: 3px;
        border: 1px solid #ccc;
    }

    .icon-text {display: none;}

    .main-menu ul {
        flex-direction: column;
        justify-content: flex-start;
    }

    .hero-area {
        display: none;
    }

    .other-info,
    .clients,
    .about,
    .instagram,
    .newsletter {
        display: none;
    }

    .page-footer {
        padding: 4% 5%;
    }

}


@media screen and (min-width: 40em) {
    /* styles for medium and onward */
    .wrapper {
        margin: 0 3%;
    }

    .main-menu li {
        padding: 1.5rem;
    }

    .main-menu i {
        display: block;
        text-align: center;
    }

    .icon-label {
        display: block;
    }

    .slider {
        /* display: flex; */
        /* justify-content: center; */
        width: 90%;

        position: relative;
    }

    .slide-img {
        width: 100%;
    }

    .slider-info {
        position: absolute;
        top: 25%;
        left: 15%;
    }

    .home-intro {
        margin: 4em auto;
        max-width: 80%;
    }
    
    .section__header {
        grid-column: span 2;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1.5em;
        grid-template-areas:
        "service-header service-header"
        "box box"
        "box box";   
    }
    
    .service {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .service img {
        grid-area: icon;
        
        width: 30%;
        max-width: 35%;
        height: auto;
    }
    
    .service__heading {
        margin-top: 1.25em;
    }
    
    .service__description {
        margin-top: 0.25em;
    }

    .blog {
        grid-template-columns: 1fr 1fr;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
    .main-menu ul {
        flex-direction: row;
        justify-content: center;
    }

}


@media screen and (min-width: 64em) {
    /* styles for large and onward only */
}
